* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

a {
    color: rgb(0, 0, 0);
}

body {
    height: 100vh;
    justify-content: center;
    background-image: url(img/download\ \(3\).gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    width: 500px;
    margin: auto;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0px 0px 20px #a7a7a7;
}

form {
    width: fit-content;
    margin: auto;
    padding: 10px;
    color: rgb(255, 255, 255);
}

#logo {
    width: 400px;
    margin: 4px auto;
    padding: 43px;
    border-radius: 60px;
    display: block;
}


h1 {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    color: #acacac;
    text-align: center;
    margin-top: 20px;
}

input {
    display: block;
    margin: 7px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.btn {
    display: block;
    margin: auto;
    border-color: #333;
}



button {
    background-color: #ffffff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#botao{
    transition: all 0.5s ease;
}

button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

button:hover>#botao {
    color: rgb(255, 255, 255);
}


.outros {
    margin: 5px;
}